<a href="https://colab.research.google.com/github/Nisha129103/Assignment/blob/main/Data_structures_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1. Write a code to reverse a string.

In [ ]:
#Ans.
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

!dlroW ,olleH

#Q2. write a code to count the number of vowels in a string

In [ ]:
#Ans.
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = sum(1 for char in s if char in vowels)
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print(vowel_count)

3

#Q3. write a code to check if a given string is a palindrome or not?

In [ ]:
#Ans.
def is_palindrome(s: str) -> bool:
    """
    Checks if a given string is a palindrome.

    Args:
    s (str): The input string.

    Returns:
    bool: True if the string is a palindrome, False otherwise.
    """
    s = ''.join(c for c in s if c.isalnum()).lower()  # remove spaces and convert to lowercase
    return s == s[::-1]  # compare string with its reverse

In [ ]:
print(is_palindrome("radar"))

True

#Q4.Write a code to check if two given string are anagrams of each other

In [ ]:
#Ans.
def are_anagrams(str1: str, str2: str) -> bool:
    """
    Checks if two given strings are anagrams of each other.

    Args:
    str1 (str): The first input string.
    str2 (str): The second input string.

    Returns:
    bool: True if the strings are anagrams, False otherwise.
    """
    # Remove spaces and convert to lowercase
    str1 = ''.join(c for c in str1 if c.isalnum()).lower()
    str2 = ''.join(c for c in str2 if c.isalnum()).lower()

    # Check if sorted strings are equal
    return sorted(str1) == sorted(str2)

In [ ]:
print(are_anagrams("listen", "silent"))

True

#Q5. Write a code to find  all occurrences of a given substring within another string

In [ ]:
#Ans.
def find_substring_occurrences(main_string: str, sub_string: str) -> list:
    """
    Finds all occurrences of a given substring within another string.

    Args:
    main_string (str): The string to search in.
    sub_string (str): The substring to search for.

    Returns:
    list: A list of indices where the substring occurs.
    """
    indices = []
    start = 0
    while start < len(main_string):
        index = main_string.find(sub_string, start)
        if index != -1:
            indices.append(index)
            start = index + 1
        else:
            break
    return indices

In [ ]:
main_string = "The quick brown fox jumps over the lazy dog"
sub_string = "the"
print(find_substring_occurrences(main_string, sub_string))

[31]

In [ ]:
print(find_substring_occurrences(main_string, "fox"))

[16]

In [ ]:
print(find_substring_occurrences(main_string, "cat"))

[]

#Q6. Write a code to perform basic string compression using the counts of repeated characters?
#Ans. Here's a Python function to perform basic string compression using the counts of repeated characters:

In [ ]:
def compress_string(input_str):
    """
    Compresses a string using run-length encoding (RLE).

    Args:
        input_str (str): The input string to compress.

    Returns:
        str: The compressed string.
    """
    if not input_str:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(input_str)):
        if input_str[i] == input_str[i - 1]:
            count += 1
        else:
            compressed.append(input_str[i - 1] + str(count))
            count = 1

    compressed.append(input_str[-1] + str(count))
    return "".join(compressed)

In [ ]:
input_str = "AAABBBCCCDDDD"
compressed_str = compress_string(input_str)
print(f"Input: {input_str}")
print(f"Compressed: {compressed_str}")

Input: AAABBBCCCDDDD
Compressed: A3B3C3D4

#Q7. Write a code to determine if a string has all unique character?
#Ans. Here's a Python function to determine if a string has all unique characters:

In [ ]:
def has_unique_chars(input_str):
    """
    Checks if a string has all unique characters.

    Args:
        input_str (str): The input string to check.

    Returns:
        bool: True if all characters are unique, False otherwise.
    """
    return len(set(input_str)) == len(input_str)

In [ ]:
# Example usage:
input_str = "abcdefg"
print(f"Input: {input_str}")
print(f"Has unique chars: {has_unique_chars(input_str)}")


input_str = "aabbcc"
print(f"\nInput: {input_str}")
print(f"Has unique chars: {has_unique_chars(input_str)}")

Input: abcdefg
Has unique chars: True

Input: aabbcc
Has unique chars: False

#Q8. Write a code to convert a given string to uppercase or lowercase?
#Ans. Here's a Python code snippet to convert a given string to uppercase or lowercase:

In [ ]:
input_str = "Hello World"

In [ ]:
print(f"Uppercase: {input_str.upper()}")

Uppercase: HELLO WORLD

In [ ]:
print(f"Lowercase: {input_str.lower()}")

Lowercase: hello world

In [ ]:
#Q9. Write a code to count the number of words in a string?
#Ans. Here's a Python code snippet to count the number of words in a string:

In [ ]:
def count_words(input_str):
    """
    Counts the number of words in a string.

    Args:
        input_str (str): The input string.

    Returns:
        int: The number of words.
    """
    words = input_str.split()
    return len(words)

In [ ]:
input_str = "Hello World, this is a test string."
print(f"Input: {input_str}")
print(f"Number of words: {count_words(input_str)}")

Input: Hello World, this is a test string.
Number of words: 7

#Q10. Write a code to concatenate two strings without using the + operator?
#Ans. Here's a Python code snippet to concatenate two strings without using the + operator:

In [ ]:
def concat_strings(str1, str2):
    """
    Concatenates two strings without using the + operator.

    Args:
        str1 (str): The first string.
        str2 (str): The second string.

    Returns:
        str: The concatenated string.
    """
    return "%s%s" % (str1, str2)

In [ ]:
str1 = "Hello"
str2 = "World"

print(f"String 1: {str1}")
print(f"String 2: {str2}")
print(f"Concatenated: {concat_strings(str1, str2)}")

String 1: Hello
String 2: World
Concatenated: HelloWorld

#Q11. Write a code to remove all occurances of a specific element from a list?
#Ans. Here's a Python code snippet to remove all occurrences of a specific element from a list:

In [ ]:
def remove_element(lst, target):
    """
    Removes all occurrences of a specific element from a list.

    Args:
        lst (list): The input list.
        target: The element to remove.

    Returns:
        list: The modified list.
    """
    return [x for x in lst if x != target]

In [ ]:
# Example usage:
lst = [1, 2, 3, 4, 2, 5, 2, 6]
target = 2

print(f"Original list: {lst}")
print(f"Target element: {target}")
print(f"Modified list: {remove_element(lst, target)}")

Original list: [1, 2, 3, 4, 2, 5, 2, 6]
Target element: 2
Modified list: [1, 3, 4, 5, 6]

#Q12. Implement a code to find the second largest number in s given list of intergers?
#Ans. Here's a Python code snippet to find the second largest number in a given list of integers:

In [ ]:
def second_largest(nums):
    """
    Finds the second largest number in a list of integers.

    Args:
        nums (list): A list of integers.

    Returns:
        int: The second largest number.
    """
    if len(nums) < 2:
        raise ValueError("List must contain at least two elements")

    max_num = second_max = float('-inf')
    for num in nums:
        if num > max_num:
            second_max = max_num
            max_num = num
        elif num > second_max and num != max_num:
            second_max = num

    if second_max == float('-inf'):
        raise ValueError("No second largest number found")

    return second_max

In [ ]:
# Example usage:
nums = [10, 20, 30, 40, 50]
print(f"List: {nums}")
print(f"Second largest: {second_largest(nums)}")

List: [10, 20, 30, 40, 50]
Second largest: 40

#Q13. Create a code to count the occurrence of each element in a list and return a dictionary with elements as keys and their counts as value?
#Ans. Here's a Python code snippet to count the occurrence of each element in a list and return a dictionary with elements as keys and their counts as values:

In [ ]:
def count_elements(lst):
    """
    Counts the occurrence of each element in a list.

    Args:
        lst (list): The input list.

    Returns:
        dict: A dictionary with elements as keys and their counts as values.
    """
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict

In [ ]:
# Example usage:
lst = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(f"List: {lst}")
print(f"Element counts: {count_elements(lst)}")

List: [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
Element counts: {1: 1, 2: 2, 3: 3, 4: 4}

#Q14.Write a code to reverse a list in-place without using any built-in reverse functions?
#Ans. Here's a Python code snippet to reverse a list in-place without using any built-in reverse functions:

In [ ]:
def reverse_list_in_place(lst):
    """
    Reverses a list in-place without using built-in reverse functions.

    Args:
        lst (list): The list to reverse.
    """
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap elements at left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

In [ ]:
# Example usage:
lst = [1, 2, 3, 4, 5]
print(f"Original list: {lst}")
reverse_list_in_place(lst)
print(f"Reversed list: {lst}")

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

#Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements?
#Ans. Here's a Python code snippet to find and remove duplicates from a list while preserving the original order of elements:

In [ ]:
def remove_duplicates(lst):
    """
    Removes duplicates from a list while preserving the original order.

    Args:
        lst (list): The input list.

    Returns:
        list: The list with duplicates removed.
    """
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

In [ ]:
# Example usage:
lst = [1, 2, 3, 2, 4, 5, 5, 6]
print(f"Original list: {lst}")
print(f"List without duplicates: {remove_duplicates(lst)}")

Original list: [1, 2, 3, 2, 4, 5, 5, 6]
List without duplicates: [1, 2, 3, 4, 5, 6]

#Q16- Create a code to check if a given list is sorted (either in ascending or descending order) or not.
#Ans.

In [3]:
def is_sorted(lst):
    if len(lst) < 2:
        return True  # A list with 0 or 1 element is considered sorted

    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    return ascending or descending
# Example usage
my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))

my_list = [5, 4, 3, 2, 1]
print(is_sorted(my_list))

my_list = [1, 3, 2, 4]
print(is_sorted(my_list))

True
True
False

#Q17- Write a code to merge two sorted lists into a single sorted list.
#Ans.

In [4]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Loop until we reach the end of either list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append any remaining elements from list1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append any remaining elements from list2
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 2, 3, 4, 5, 6]

#Q18- Implement a code to find the intersection of two given lists.
#Ans.

In [5]:
def intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = intersection(list1, list2)
print(result)

[4, 5]

#Q19- Create a code to find the union of two lists without duplicates
#Ans.

In [6]:
def union(list1, list2):
    return list(set(list1) | set(list2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = union(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

#Q20- Write a code to shuffle a given list randomly without using any built-in shuffle functions.
#Ans.

In [7]:
import random

def shuffle_list(lst):
    # Traverse the list in reverse order
    for i in range(len(lst) - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap elements at index i and j
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list.copy())  # Use copy to preserve the original list
print(shuffled_list)

[1, 4, 3, 5, 2]

#Q21- Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

#Ans.

In [8]:
def common_elements(tuple1, tuple2):
    # Convert tuples to sets and find the intersection
    common_set = set(tuple1) & set(tuple2)
    # Convert the result back to a tuple and return
    return tuple(common_set)

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

#Q22- Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.
#Ans.

In [10]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of integers
    user_input = input(prompt)
    return set(int(num.strip()) for num in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of integers (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of integers (separated by commas): ")

    # Calculate the intersection
    intersection = set1 & set2

    # Print the result
    print("The intersection of the two sets is:", intersection)

if __name__ == "__main__":
    main()

Enter the first set of integers (separated by commas): 3,4
Enter the second set of integers (separated by commas): 1,2,3,4
The intersection of the two sets is: {3, 4}

#Q23- Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

#Ans.

In [11]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples and return the result
    return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

#Q24- Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
#Ans.

In [12]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of strings
    user_input = input(prompt)
    return set(s.strip() for s in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

    # Find elements in set1 that are not in set2
    difference = set1 - set2

    # Print the result
    print("Elements in the first set but not in the second set:", difference)

if __name__ == "__main__":
    main()

Enter the first set of strings (separated by commas): apple,banana,cherry
Enter the second set of strings (separated by commas): banana,date
Elements in the first set but not in the second set: {'apple', 'cherry'}

#Q25- Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.
#Ans.

In [13]:
def extract_range_from_tuple(original_tuple, start_index, end_index):
    # Return a new tuple containing elements from the original tuple
    return original_tuple[start_index:end_index]

# Example usage:
my_tuple = (10, 20, 30, 40, 50, 60, 70)
start = 2
end = 5
result = extract_range_from_tuple(my_tuple, start, end)
print(result)

(30, 40, 50)

#Q26- Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.
#Ans.

In [14]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of characters
    user_input = input(prompt)
    return set(char.strip() for char in user_input)

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of characters (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of characters (separated by commas): ")

    # Calculate the union of the two sets
    union_set = set1 | set2

    # Print the result
    print("The union of the two sets is:", union_set)

if __name__ == "__main__":
    main()

Enter the first set of characters (separated by commas): a,b,c
Enter the second set of characters (separated by commas): c,d,e
The union of the two sets is: {',', 'e', 'a', 'b', 'c', 'd'}

#Q27- Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.
#Ans.

In [15]:
def min_max_from_tuple(int_tuple):
    # Calculate the maximum and minimum values
    max_value = max(int_tuple)
    min_value = min(int_tuple)
    return max_value, min_value  # Return as a tuple

# Example usage:
my_tuple = (5, 3, 9, 1, 7)
max_value, min_value = min_max_from_tuple(my_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

#Q28- Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

#Ans.

In [16]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate union, intersection, and difference
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)              # Elements in either set
print("Intersection:", intersection_set)  # Elements in both sets
print("Difference (Set 1 - Set 2):", difference_set)  # Elements in Set 1 not in Set 2

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set 1 - Set 2): {1, 2, 3}

#Q29- Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
#Ans.

In [17]:
def count_occurrences(input_tuple, element):
    # Return the count of occurrences of the element in the tuple
    return input_tuple.count(element)

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 3, 2, 3)
element_to_count = 3
count = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} occurs {count} times in the tuple.")

The element 3 occurs 3 times in the tuple.

#Q30- Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.
#Ans

In [18]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of strings
    user_input = input(prompt)
    return set(s.strip() for s in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

    # Calculate the symmetric difference of the two sets
    symmetric_difference = set1 ^ set2

    # Print the result
    print("The symmetric difference of the two sets is:", symmetric_difference)

if __name__ == "__main__":
    main()

Enter the first set of strings (separated by commas): apple,banana,cherry
Enter the second set of strings (separated by commas): banana,date
The symmetric difference of the two sets is: {'apple', 'cherry', 'date'}

#Q31- Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
#Ans.

In [19]:
def word_frequencies(words):
    frequency_dict = {}
    for word in words:
        # Increment the count for the word in the dictionary
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# Example usage:
input_words = input("Enter a list of words separated by spaces: ").split()
result = word_frequencies(input_words)
print("Word Frequencies:", result)

Enter a list of words separated by spaces: apple banana apple cherry banana apple
Word Frequencies: {'apple': 3, 'banana': 2, 'cherry': 1}

#Q32- Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

#Ans.

In [20]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Create a copy of the first dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs
    return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

#Q33- Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.
#Ans.

In [21]:
def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]  # Move deeper into the nested dictionary
        else:
            return None  # Return None if the key doesn't exist
    return current  # Return the final value if all keys are found

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 1
        },
        'd': 2
    },
    'e': 3
}

keys_to_access = ['a', 'b', 'c']
result = access_nested_value(nested_dict, keys_to_access)
print("Accessed Value:", result)  # Output: Accessed Value: 1

# Testing with a non-existent key
keys_to_access_invalid = ['a', 'b', 'x']
result_invalid = access_nested_value(nested_dict, keys_to_access_invalid)
print("Accessed Value:", result_invalid)

Accessed Value: 1
Accessed Value: None

#Q34- Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.
#Ans.

In [22]:
def sort_dict_by_values(input_dict, descending=False):
    # Sort the dictionary by values and return as a new dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

# Example usage:
my_dict = {'a': 3, 'b': 1, 'c': 2}

# Sort in ascending order
sorted_ascending = sort_dict_by_values(my_dict)
print("Sorted in Ascending Order:", sorted_ascending)

# Sort in descending order
sorted_descending = sort_dict_by_values(my_dict, descending=True)
print("Sorted in Descending Order:", sorted_descending)

Sorted in Ascending Order: {'b': 1, 'c': 2, 'a': 3}
Sorted in Descending Order: {'a': 3, 'c': 2, 'b': 1}

#Q35- Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
#Ans.

In [23]:
def invert_dictionary(original_dict):
    inverted_dict = {}
    for key, value in original_dict.items():
        if value in inverted_dict:
            # If the value is already a key, append the current key to the list
            inverted_dict[value].append(key)
        else:
            # Otherwise, create a new entry with the current key as a list
            inverted_dict[value] = [key]
    return inverted_dict

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted = invert_dictionary(my_dict)
print("Inverted Dictionary:", inverted)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}